body{
    background: linear-gradient(180deg, rgb(104, 217, 255), rgb(255, 205, 120));
    height:100vh;
}

*{
    color: white;
}

h1{
    font-family: "Archivo Black", sans-serif;
    font-size: 3rem;
    text-align: center;
}

form{
    text-align: center;
}

input{
    background-color: rgba(130, 130, 130, 0.123);
    border: 1px solid white;
    border-radius: 15px;
    height: 1.5rem;
    padding: 5px 10px;
}

::placeholder {
    color: rgba(255, 255, 255, 0.878);
}

button{
    background-color: rgba(99, 99, 99, 0.364);
    border: 1px solid white;
    border-radius: 15px;
    height: 2.24rem;
    cursor: pointer;
    transition: 0.3s;
}

button:hover{
    background-color: rgba(0, 0, 0, 0.4); 
}

button:active{
    background-color: rgba(168, 168, 168, 0.65); 
    transition: none;
}

.card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 3rem auto;
    border: 2px solid rgba(255, 255, 255, 0.736);
    border-radius: 30px;
    max-width: 400px;
    padding: 2rem;
    box-shadow: 10px 10px 10px rgba(113, 122, 138, 0.428);

}

.cityName, .temp {
    font-family: "Archivo Black", sans-serif;
    font-size: 2.5rem;
    margin: 0.5rem;
}

.feelsLike{
    font-family: "Nunito", sans-serif;
    margin-top: 0;
}

.desc, .humidity, .errorDisplay {
    font-family: "Nunito", sans-serif;
    font-size: 1.5rem;
    margin: 0.5rem;
}

.emoji{
    font-size: 5rem;
    margin: 0;
}

